<%= form_with(model: @resena, url: resenas_path(user_id: @user.id), local: true) do |form| %>
  <%= form.hidden_field :user_id, value: @user.id %>
  
  <div class="field">
    <%= form.label :puntuacion %>
    <%= form.number_field :puntuacion, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= form.label :comentario %>
    <%= form.text_area :comentario %>
  </div>

  <div class="actions">
    <%= form.submit "Crear Reseña", class: "button is-primary" %>
  </div>
<% end %>
