<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Perfil</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-image: url('https://imagenes.elpais.com/resizer/POMntYajOsrQiIQTJQ147UIn7QI.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      height: 100vh;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .profile-container {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: left;
      width: 90%;
      max-width: 800px;
    }

    .profile-content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }

    .profile-image img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-right: 20px;
    }

    .profile-text {
      font-size: 16px;
      color: #333;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="profile-container">
      <div class="profile-content">
        <div class="profile-image">
          <%= image_tag @user.profile_picture.url, alt: "Imagen de perfil" if @user.profile_picture.present? %>
        </div>
        <div>
          <h1>Mi perfil</h1>
          <p><strong>Correo de usuario:</strong> <%= @user.email %></p>
          <p><strong>Nombre de usuario:</strong> <%= @user.first_name %></p>
          <p><strong>Apellido de usuario:</strong> <%= @user.last_name %></p>
          <p><strong>Descripción:</strong> <%= @user.description %></p>
        </div>
        <div>
          <% if current_user.admin? %>
            <%= link_to "Editar perfil", edit_user_path(@user), class: "btn btn-primary" %>
          <% end %>
          <!-- Botón para ver los calcetines del usuario -->
          <%= link_to "Ver calcetines", user_calcetines_path(@user), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
