<h1>Perfil de <%= @user.first_name %></h1>

<p>Correo de usuario: <%= @user.email %></p>
<p>Nombre de usuario: <%= @user.first_name %></p>
<p>Apellido de usuario: <%= @user.last_name %></p>
<p>Foto: <%= @user.profile_picture %></p>
<p>Descripcion: <%= @user.id %></p>

<%= link_to "Crear Reseña", new_resena_path(user_id: @user.id), class: "button is-primary" %>



