<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calcetines</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      background-image: url('https://img.freepik.com/fotos-premium/calcetines-coloridos-colgando-secar_881868-1755.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      font-family: Arial, sans-serif;
    }

    .page-container {
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
    }

    .title {
      font-size: 48px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .column {
      flex: 0 0 calc(33.33% - 20px);
      margin: 10px;
      box-sizing: border-box;
    }

    .card {
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      border-radius: 10px;
      padding: 20px;
    }

    img {
      width: 100%;
      height: 200px; /* Establece aquí la altura fija para todas las imágenes */
      object-fit: cover; /* Ajusta el tamaño de la imagen mientras se mantiene la proporción */
      border-radius: 5px;
    }

    .card-buttons {
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
    }

    .btn {
      color: #fff;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }

    .btn-warning {
      background-color: #f0ad4e;
    }

    .btn-danger {
      background-color: #d9534f;
    }

    .btn-success {
      background-color: #5bc0de;
    }

    .btn-primary {
      background-color: #337ab7;
    }

    .text-center {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="page-container">
    <div class="container">
    <h1 class="title">Explora Calcetines de otros usuarios</h1>

    <!-- Filtros por categoría y orden alfabético -->
    <div class="filters">
      <label>Filtrar por estado:</label>
      <a href="<%= calcetines_path %>" class="btn btn-primary">Todos</a>
      <a href="<%= calcetines_path(estado: 'Nuevo') %>" class="btn btn-primary">Nuevo</a>
      <a href="<%= calcetines_path(estado: 'Casi Nuevo') %>" class="btn btn-primary">Casi Nuevo</a>
      <a href="<%= calcetines_path(estado: 'Usado') %>" class="btn btn-primary">Usado</a>

    </div>

    <!-- Lista de calcetines de otros usuarios -->
    <div class="columns is-multiline is-variable is-4">
      <% @calcetines.each do |calcetin| %>
        <div class="column">
          <div class="card">
            <div class="card-content">
              <img src="<%= calcetin.foto %>" alt="Imagen de Calcetín">
              <p class="title" style="font-size: 24px;"><%= calcetin.nombre %></p>
              <p class="subtitle"><%= calcetin.descripcion %></p>
              <p class="subtitle"><%= calcetin.usuario.email %></p>

            </div>
            <div class="card-buttons">
              <%= link_to "Like", new_calcetin_like_path(calcetin, liked: true), method: :post, class: "btn btn-success" %>
              <%= link_to "NoLike", new_calcetin_like_path(calcetin, liked: false), method: :post, class: "btn btn-success" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>
  <div class="page-container">
    <div class="container">
      <h1 class="title">Mis Calcetines</h1>

      <% if user_signed_in? %>
        <div class="text-center">
          <%= link_to "Nuevo Calcetín", new_calcetin_path, class: "btn btn-primary btn-lg" %>
        </div>
      <% end %>

      <div class="columns is-multiline is-variable is-4">
        <% @user_calcetines.each do |calcetin| %>
          <div class="column">
            <div class="card">
              <div class="card-content">
                <img src="<%= calcetin.foto %>" alt="Imagen de Calcetín">
                <p class="title" style="font-size: 24px;"><%= calcetin.nombre %></p>
                <p class="subtitle"><%= calcetin.descripcion %></p>
              </div>
              <div class="card-buttons">
                <%= link_to "Editar", edit_calcetine_path(calcetin), method: :get, class: "btn btn-warning" %>
              
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
