<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://st4.depositphotos.com/3591429/20584/i/450/depositphotos_205846756-stock-photo-closeup-of-four-pairs-of.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 100vh; display: flex; align-items: center; justify-content: center;">
  <div class="container">
    <h1 class="title text-center text-white">Calcetines</h1>

  <div class="columns is-multiline is-variable is-4 card-container">
    <% @calcetines_restantes.each do |calcetin| %>
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content">
            <img src="<%= calcetin.foto %>" alt="Imagen de Calcetín" width="180" height="200">
            <p class="title"><%= calcetin.nombre %></p>
            <p class="subtitle"><%= calcetin.descripcion %></p>
          </div>
          <div class="card-footer">
            <div class="card-buttons">
              <%= link_to "Editar", edit_calcetine_path(calcetin), method: :patch, class: "btn btn-warning" %>
              <%= link_to "Eliminar", destroy_calcetin_path(calcetin), method: :delete, class: "btn btn-danger", data: { confirm: "¿Estás seguro de que deseas eliminar este calcetín?" } %>
              <%= link_to "Like", new_calcetin_like_path(calcetin), method: :post, class: "btn btn-success" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div class="text-center">
        <%= link_to "Nuevo Calcetín", new_calcetin_path, class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to "Nuevo calcetin", new_calcetin_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
