<div class="container">
  <h1 class="title">Calcetines</h1>

  <div class="columns is-multiline is-variable is-4 card-container">
    <% @calcetines_restantes.each do |calcetin| %>
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content">
            <img src="<%= calcetin.foto %>" alt="Imagen de Calcetín" width="180" height="200">
            <p class="title"><%= calcetin.nombre %></p>
            <p class="subtitle"><%= calcetin.descripcion %></p>
          </div>
          <div class="card-footer">
            <div class="card-buttons">
              <%= link_to "Editar", editar_calcetine_path(calcetin), class: "btn btn-warning" %>
              <%= link_to "Eliminar", eliminar_calcetine_path(calcetin), method: :delete, data: { confirm: "¿Estás seguro de que deseas eliminar este calcetín?" }, class: "btn btn-danger" %>
              <%= link_to "Like", editar_calcetine_path(calcetin), class: "btn btn-success" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
