<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Calcetinder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <%if user_signed_in? %>
      
        <li class="nav-item">
          <%= link_to "Editar cuenta", edit_user_registration_path, class:"nav-link" %>
        </li>
        
        <li class="nav-item">
          <%= link_to "Mi perfil", user_profile_path(current_user) %>
        </li>
        
        <li class="nav-item">
          <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "nav-link", data: {confirm: '¿Estás seguro de que quieres cerrar sesión?' } %>
        </li>

        <li class="nav-item">
          <%= button_to "Calcetines like", likes_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= button_to "Calcetines disponibles", calcetines_path, method: :get, class: "nav-link" %>
        </li>

      <%else %> 
        <li class="nav-item">
          <%= link_to "Iniciar sesión", new_user_session_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Crear cuenta", new_user_registration_path, class:"nav-link" %>
        </li>
      <%end%>
      
      
    </ul>
    <%= form_tag(user_search_path, method: :get) do %>
      <label for="query">Buscar usuarios:</label>
      <%= text_field_tag :query %>
      <%= submit_tag 'Buscar' %>
    <% end %>

  </div>
</nav>