<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Calcetinder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <%if user_signed_in? %>
      
        <li class="nav-item">
          <%= link_to "Editar cuenta", edit_user_registration_path, class:"nav-link" %>
        </li>
        
        <li class="nav-item">
          <%= link_to "Mi perfil", user_profile_path(current_user) %>
        </li>
        
        <li class="nav-item">
          <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "nav-link", data: {confirm: '¿Estás seguro de que quieres cerrar sesión?' } %>
        </li>

        <li class="nav-item">
          <%= button_to "Crear calcetines", calcetines_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= button_to "Calcetines like", likes_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= button_to "Calcetines disponibles", calcetines_path, class: "nav-link" %>
        </li>

        <%= link_to "Mis Reseñas", mis_resenas_path, class: "nav-link" %>


        <%= link_to "Crear Reseña", new_resena_path, class: "button is-primary" %>


      <%else %> 
        <li class="nav-item">
          <%= link_to "Iniciar sesión", new_user_session_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Crear cuenta", new_user_registration_path, class:"nav-link" %>
        </li>
      <%end%>
      
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Usuario" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar usuario</button>
    </form>
  </div>
</nav>